p{
  word-wrap: break-word;
}

.container{
  padding: 1em;
}

.tweet {
  padding: 0.5em 1em;
  margin: 0.5em;
  font-weight: bold;
  border: solid 3px #000000;
}

.tweetTime{
  text-align: right;
}

.tweet-links{
  text-align: center;
}

.formArea{
  text-align: center;
  width: 503px;
}

#error_explanation{
  color: red;
}