<!DOCTYPE html>
<html>
  <head>
    <title>Tvvitter</title>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <ul>
        <li>
          <a href="/tweets">
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-home"></span> 一覧
            </button>
          </a>
        </li>
        <li>
          <a href="#">
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-trash"></span> 削除
            </button>
          </a>
        </li>
        <li>
          <a href="/tweets/new">
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-comment"></span> 新規
            </button>
          </a>
        </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
